<div id="bs_cont_bg">
  <h1>Find the most Yeetabix battleships!</h1>
  <div class="scoreborad">
    <button (click)="bs.fieldsFill()">Start!</button>
    <p>Score: {{bs.score}}</p>
    <p>Shots fired: {{bs.steps}}</p>
    <p>Shots wasted: {{bs.steps - bs.score}}</p>
  </div>
  <div *ngIf="bs.win === false" id="grid_container">
    <ng-container *ngFor="let column of bs.cField; let y = index">
      <div class="gamefield_tile" [attr.data-value]="bs.cField[x][y]" (click)="reveal(x, y)" *ngFor="let string of column; let x = index"><p style="display: none;"></p></div>
    </ng-container>
  </div>
  <h1 *ngIf="bs.win === true">You win xd</h1>
</div>
