@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
#blog_container {
  margin: 0px 10px;
  box-shadow: 6px 6px 4px #737373;
  height: 100vh;
}
#blog_container hr {
  margin: 5px 10px;
}

#blog_container h1 {
  font-family: 'Open Sans', sans-serif;
  margin: 5px;
}

#blog_component {
padding: 5px 10px;
}

#blog_component .bl_header {

}
#blog_component .bl_content {
  margin: 5px 0px;
  height: 80px;
  width: 300px;
  resize: none;
  box-sizing: border-box;
}

#blog_posts {

}

#blog_posts h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 140%;
}

#blog_posts p {
  font-family: 'Open Sans', sans-serif;
  font-size: 120%;
}

#blog_posts :hover {
cursor: pointer;
}

#blog_edit_form {
position: relative;
  top: 100%;
  background: #d9d9d9;
  box-shadow: 5px 5px 10px #555555;
  font-family: 'Open Sans', sans-serif;
  margin: 40px 0px;
}

#blog_post_area {
  position: absolute;
  margin: auto;
  overflow: visible;
}
